<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui:
</div>

<div *ngIf="cursos.length === 0">
  Não existem cursos a serem listados!
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui:
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos a serem listados!
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>

<p>Alternativa ao *ngIf</p>

<div [hidden]="!mostrarCursos">
  Lista de cursos aqui:
</div>

<div [hidden]="mostrarCursos">
  Não existem cursos a serem listados!
</div>