<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">

<section class="property-binding">

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}" alt="Imagem do por do sol">
    <img [src]="urlImagem"> <!-- Formato mais utilizado -->
    <img bind-src="urlImagem">
  </article>

  <article>
    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe

      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>

      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert"
      [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>

      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">
        Warning
      </div>

      <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
        Esse texto só aparece em caso de erro.
      </div>

    </div>

  </article>

</section>

<section class="event-biding">

  <article>
    <h3>Event Bididing </h3>
    <div>

      <button 
        (click)="botaoClicado()"
        class="btn btn-primary"
      >
        Me Clique!
      </button>

      <br><br>

      <input
        #campoInput
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        type="text"
      >

      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre mim
      </span>

    </div>
  </article>

</section>

<section class="two-way-binding">

  <br>

  <article>

    <h3>Two-way data binding</h3>

    <div>
      <!-- Este exemplo foi modificado para funcionar!-->
      <input type="text"
        #valorInput
        [value]="nome"
        (input)="nome = valorInput.value"
      />

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      >

      <input type="text" [(ngModel)]="nome" />

      <br><br>

      <p>Você digitou: {{ nome }}</p>

    </div>

  </article>

</section>